.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
  opacity: 1;
  transition: opacity .6s ease-in-out;
}

.feynman__link::after {
  content: '\2192';
  margin-left: 15px;
}


.feynman__link:hover {
  opacity: .5;
}
