.header__link {
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  color: #2f80ed;
  opacity: 1;
  transition: opacity .6s ease-in-out;
}

.header__link::after {
  content: '\2192';
  margin-left: 5px;
}

.header__link:hover {
  opacity: .5;
}
