.footer__column-links {
  list-style: none;
  margin: 0;
  padding: 0;

}

.footer__column-link {
  text-decoration: none;
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  color: #fff;
  opacity: 1;
  transition: opacity .6s ease-in-out;
}

.footer__column-link:hover {
  opacity: .5;
}
