.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* header */

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  position: relative;
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  overflow: hidden;
}

.logo {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  background-image: url(../images/logo_place_header.svg);
  width: 228px;
  height: 32px;
  z-index: 1;
}

.header__title {
  max-width: 730px;
  margin: 0;
  margin-left: 64px;
  font-size: 102px;
  line-height: 96px;
  font-weight: 600;
  z-index: 2;
}

.header__subtitle {
  margin: 0;
  position: absolute;
  bottom: 30px;
  left: 64px;
  max-width: 388px;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  z-index: 2;
}

.header__link {
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  color: #2f80ed;
}

.header__link::after {
  content: '\2192';
  margin-left: 5px;
}

.header__main-illustration {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 608px;
  width: 765px;
  object-fit: cover;
  z-index: 1;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
}

.rotation {
  animation: rotat 20s linear infinite;
}

@keyframes rotat {
  from {
    transform: rotate(0deg)
  }

  to {
    transform: rotate(360deg);
  }
}

/* section description */
.description {
  padding-top: 100px;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.two-columns__brief {
  width: 175px;
  margin: 0;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin: 0;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
}

.two-columns__paragraph:not(:last-child) {
  margin-bottom: 30px;
}

.two-columns__span-accent {
  font-weight: 600;
}

/* section techniques */
.techniques {
  padding-top: 100px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  max-width: 920px;
  margin: 0 auto;
  list-style: none;
  padding: 0;
}

.cards__item {
  max-width: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}

.cards__item:not(:nth-last-child(3n)) {
  margin-right: 100px;
}

.cards__image {
  width: 160px;
  height: 160px;
  margin-bottom: 43px;
  border-radius: 50%;
}

.cards__title {
  margin: 0;
  margin-bottom: 16px;
  text-align: center;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
}

.cards__description {
  margin: 0;
  text-align: center;
  font-size: 18px;
  line-height: 23px;
  font-weight: normal;
}

/* section video */
.video {
  padding-top: 100px;
  width: 100%;
}

.video__iframes {
  max-width: 1050px;
  position: relative;
  top: 50px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.video__iframe {
  width: 515px;
  height: 316px
}

/* section oakley */

.oakley {
  padding-top: 160px;
  background-color: #f2f2f2;
}

/* section digits */

.digits {
  padding: 100px 0;
  width: 100%;
}

.section-title {
  width: 60%;
  margin: 0 auto 20px auto;
  text-align: center;
  font-size: 60px;
  line-height: 1.15;
  font-weight: 600;
}

.section-subtitle {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
}

.table {
  padding: 0;
  list-style-type: none;
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  margin: 0;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 1.15;
  font-weight: 600;
}

.table__text {
  margin: 0;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
}

.table__text:not(:last-child) {
  margin-bottom: 20px;
}

/* section feynman */

.feynman {
  position: relative;
  min-height: 890px;
  padding-top: 100px;
  background-image: url(../images/feynman.png);
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 867px 637px;
  background-color: #f2f2f2;
  box-sizing: border-box;
}

.feynman__title {
  max-width: 648px;
  margin: 0 auto 70px auto;
  text-align: center;
  font-size: 120px;
  line-height: 1.15;
  font-weight: 600;
}

.feynman__subtitle {
  max-width: 648px;
  text-align: center;
  margin: 0 auto 0 auto;
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
}

.feynman__link::after {
  content: '\2192';
  margin-left: 15px;
}


/* section khan */
.khan {
  width: 100%;
  padding-top: 105px;
  background-color: #f2f2f2;
}

.khan__container {
  width: 80%;
  margin: 0 auto;
}

.khan__author {
  margin: 0;
  font-size: 30px;
  line-height: 42px;
  font-weight: normal;
}

.khan__title {
  margin: 0;
  margin-bottom: 50px;
  font-size: 60px;
  line-height: 1.15;
  font-weight: 600;
}

.khan__quote {
  max-width: 790px;
  margin: 0;
  margin-bottom: 36px;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
}

.khan__quote-author {
  margin: 0;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 1.15;
  font-weight: 600;
}

.khan__quote-author-subline {
  margin: 0;
  margin-bottom: 68px;
  font-size: 24px;
  line-height: 1.15;
  font-weight: normal;
}

.khan__book-container {
  display: flex;
}

.khan__book-pic {
  width: 620px;
  height: 608px;
  margin-right: 48px;
}

.khan__buy-link {
  text-decoration: none;
  font-size: 30px;
  line-height: 42px;
  font-weight: normal;
  color: #2f80ed;
}

.khan__buy-link::after {
  content: '\2192';
  margin-left: 5px;
}

/* section kaufman */

.kaufman {
  position: relative;
  padding: 90px 0;
  background-color: #1f1f1f;
  overflow: hidden;
}

.section-title_theme_dark {
  position: relative;
  color: #fff;
  z-index: 1;
}

.section-subtitle_theme_dark {
  position: relative;
  color: #fff;
  z-index: 1;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  z-index: 1;
}

.kaufman__triangle {
  position: absolute;
  top: 0;
  right: -210px;
  background-image: url(../images/kaufman-triangle.svg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 877px;
  height: 877px;
}

/* section resources */

.resources {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 217px;
}

.resources__logo-zone {
  display: flex;
  justify-content: center;
  margin: 80px auto 0 auto;
  max-width: 1100px;
  list-style: none;
  padding: 0;
}

.resources__logo {
  width: 270px;
  height: 38px;
}

/* footer */
.footer {
  min-height: 350px;
  background-color: #1f1f1f;
}

.footer__columns {
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
  padding: 60px 0 40px;

}

.footer__column_content_copyright {
  display: flex;
  min-height: 250px;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}

.logo_place_footer {
  background-image: url(../images/logo_place_footer.svg);
  width: 228px;
  height: 32px;
}

.footer__author {
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  color: #fff;
}

.footer__column-heading {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
  color: #fff;
}

.footer__column-links {
  list-style: none;
  margin: 0;
  padding: 0;

}

.footer__column-link {
  text-decoration: none;
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  color: #fff;
}

.footer__social-icon {
  display: inline-block;
  height: 16px;
  width: 16px;
  margin-right: 10px;
}
